@import '../variables.scss';

.profile-card{
        img {
                width: 100px;
                height: 100px;
                object-fit: cover;
        }
        h6{
                // max-width: 100px;
        }
        
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                color: #fff;
        background-color: #ff7a2f;
        }
        a {
        color: $color-primary-orange;
        text-decoration: none;
        background-color: transparent;
        }
        
}

.booking-history{
        thead {
                background-color: $color-primary-orange;
                color: white;
        }
}

.account-settings{
        
        .btn-primary {
                background-color: $color-primary-orange !important;
                border-color: $color-primary-orange !important;
                outline-color: $color-primary-orange !important;
                &:hover{
                        background-color: $color-primary-orange !important;
                        border-color: $color-primary-orange !important;
                        outline-color: $color-primary-orange !important;
                }
                &:active{
                        background-color: $color-primary-orange !important;
                        border-color: $color-primary-orange !important;
                        outline-color: $color-primary-orange !important;
                }
                &:visited{
                        background-color: $color-primary-orange !important;
                        border-color: $color-primary-orange !important;
                        outline-color: $color-primary-orange !important;
                }
        }
}

