@import '../variables.scss';

.register-card{
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.18);
        border-radius: 23px;
        padding: 48px;
        h3{
                color: $color-primary-orange;
        }
        .btn-sign-google{
        border-color: gray !important;
        color: $color-primary-orange !important;
        padding: 8px 45px 8px 45px !important;
        border-radius: 12px !important;
        &:hover{
        background-color: $color-primary-white  !important;   
        }
        &:focus {
                outline: none;
                box-shadow: none;
        }
} 
}