.about-container{
    margin: 0px !important;
    overflow: hidden;
    background-image: url('../assets//img_about.png');

    h2{
        text-align: center;
        color: white;
        font-size: 42px;
    }
    p{
        text-align: center;
        color: white;
        font-size: 32px;
        font-weight: 300;
    }
}