.img-logo{
    margin-right: 57px !important;
}

.my-navbar {
    // padding: 10px 100px 10px 100px !important;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
}

.space{
    height: 60px;
}

.nav-my-link{
    color: black !important;
    font-weight: bold !important;
    a{
      color: black !important;
        font-weight: bold !important;  
    }
}
