.venue-header{
    h1,h6,p {
        color: white;
    }
    .header-image{
        height: 300px;
        object-fit: inherit;
        filter: brightness(38%);
        -webkit-filter: brightness(38%);
        -moz-filter: brightness(38%);
    }
}